.tab-container > .panel-container,
.tab-container-vert > .panel-container {
	border-color: #ccc;
	background: #fff;
}

.tab-container > .label-container > .label-item,
.tab-container-vert > .label-container > .label-item {
	border-color: #ccc;
	background: #fff;
}

.tab-container > .label-container > .label-item-inactive,
.tab-container-vert > .label-container > .label-item-inactive {
	color: #aaa;
}

.tab-container > .label-container > .label-item-active,
.tab-container-vert > .label-container > .label-item-active {
	color: #000;
}

.tab-container > .label-container-header > .label-item-active {
	border-bottom-color: #fff;
}

.tab-container > .label-container.footer-container > .label-item-active {
	border-top-color: #fff;
}

.tab-container-vert > .label-container-header > .label-item-active {
	border-right-color: #fff;
}

.tab-container-vert > .label-container.footer-container > .label-item-active {
	border-left-color: #fff;
}
